In [1]:
import re
import pandas as pd

from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
from random_address import real_random_address

from barnum import gen_data

import random

In [2]:
#source https://www2.illinois.gov/sites/hfsrb/InventoriesData/FacilityProfiles/Documents/AHQ%20Data%20File%202016.xls
hosp = pd.read_excel("AHQ Data File 2016.xls", sheet_name="Hospital Information")

In [3]:
hosp.columns = hosp.iloc[0]
hosp = hosp.drop(0, axis = 0)

In [4]:
hospital_details = hosp[["Hospital", "Street Address", "City", "Zip Code"]]

In [5]:
hospital_details.dropna(inplace = True)
hospital_details.reset_index(inplace=True)

/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/2783026175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details.dropna(inplace = True)

In [6]:
hospital_details.drop(["City", "Zip Code"], axis = 1, inplace=True) #as the data had only illinois zip codes

/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/1752327693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details.drop(["City", "Zip Code"], axis = 1, inplace=True) #as the data had only illinois zip codes

In [7]:
addresses = [gen_data.create_city_state_zip() for _ in range(hospital_details.shape[0])]

In [8]:
zipcodes = []
city = []
state = []

for adr in addresses:
    zipcodes.append(adr[0])
    city.append(adr[1])
    state.append(adr[2])

In [9]:
hospital_details['city'] = city
hospital_details['state'] = state
hospital_details['zipcode'] = zipcodes

/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/4074042059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details['city'] = city
/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/4074042059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details['state'] = state
/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/4074042059.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details['zipcode'] = zipcodes

In [10]:
hospital_details

,index,Hospital,Street Address,city,state,zipcode
0,4,Abraham Lincoln Hospital,200 Stahlhut Drive,Fort Stanton,NM,88323
1,5,Adventist Bolingbrook Hospital,500 Remington Blvd,Easton,WA,98925
2,6,Adventist GlenOaks Hospital,701 Winthrop Avenue,Elgin,TX,78621
3,7,Adventist Hinsdale Hospital,120 North Oak Street,Karval,CO,80823
4,8,Adventist La Grange Memorial Hospital,5101 S. Willow Springs Road,Cape Canaveral,FL,32920
...,...,...,...,...,...,...
206,210,Vista Medical Center East,1324 North Sheridan Road,Urbana,IL,61802
207,211,Vista Medical Center West,2615 West Washington,Cornelius,NC,28031
208,212,Wabash General Hospital District,1418 College Drive,Elkton,MN,55933
209,213,Warner Hospital & Health Services,422 West White Street,Hopedale,OH,43976
210,214,Washington County Hospital,705 South Grand Avenue,Saint Paul Island,AK,99660

In [11]:
hospital_details.to_csv("hospital_details.csv", index=False)

In [12]:
#source https://www.kff.org/report-section/us-ngos-in-global-health-report/
string = """A Glimmer of Hope Foundation
American Association for the Advancement of Science (AAAS)
Academy for Educational Development (AED) #
ACDI/VOCA
Adventist Development and Relief Agency (ADRA)
African Wildlife Foundation
Africare
Aga Khan Foundation
AIDS Vaccine Advocacy Coalition (AVAC)
Alliance for Youth Achievement
American Council on Education
American Institutes for Research
American International Health Alliance
Amref Health Africa in the USA (formerly African Medical and Research Foundation)
Ananda Marga Universal Relief Team (AMURT)
American Near East Refugee Aid (ANERA)
Armenian American Cultural Association (AACA)
Armenian EyeCare Project
Aspen Institute, The
Axios Foundation
CARE (Cooperative for Assistance and Relief Everywhere)
Carter Center, The
Catholic Medical Missions Board
Catholic Relief Services (CRS)
Center for Human Services
ChildFund International USA (formerly Christian Childrenâ€™s Fund)
Concern Worldwide US
Counterpart International
Cross International
Curamericas Global
Diagnostics For All
D-REV
Education Development Center
Elizabeth Glaser Pediatric AIDS Foundation
EngenderHealth
Episcopal Relief & Development
Feed the Children
FHI Development 360 (formerly Family Health International)
Future Generations
FXB USA (Association Francois-Xavier Bagnoud USA)
Global AIDS Interfaith Alliance
Global Alliance for TB Drug Development
Global Communities (formerly CHF International)
Global Environment and Technology Foundation
Global Partners in Care (formerly Foundation for Hospices in Sub-Saharan Africa)
Global Team for Local Initiatives
Gorongosa Restoration Project (Gregory C. Carr Foundation)
Grameen Foundation USA
Green Empowerment
Health Alliance International
Health Partners
Health Right International
Health Through Walls
Heartland Alliance for Human Needs & Human Rights (Heartland Alliance International)
Helen Keller International
HOPE worldwide
Innovations for Poverty Action
Institute of International Education
International AIDS Vaccine Initiative (IAVI)
International Center for Research on Women (ICRW)
International City/County Management Association
International Medical Corps
International Orthodox Christian Charities (IOCC)
International Partnership for Microbicides
International Relief and Development
International Rescue Committee (IRC)
International Research and Exchange Board (IREX)
International Virtual e-Hospital Foundation
International Youth Foundation (IYF)
Internews Network
IntraHealth International
James R. Jordan Foundation
Jane Goodall Institute
Johns Hopkins Program for International Education in Gynecology and Obstetrics (Jhpiego)
JSI Research & Training Institute
Lifewater International
Link Community Development
Lutheran World Relief
Management Sciences for Health (MSH)
Medical Care Development (including Medical Care Development International)
Medical Teams International (formerly northwest medical teams)
Mennonite Economic Development Associates
Mercy Corps
Mercy-USA for Aid and Development
Millennium Water Alliance
mothers2mothers
mWater
National Collegiate Inventors and Innovators Alliance (NCIIA)
National Cooperative Business Association CLUSA International
Natural Family Planning Center of Washington D.C (TeenSTAR)
Nazarene Compassionate Ministries
Pacific Institute for Studies in Development, Environment and Security
PACT
Palms for Life Fund
Partners for Development
Partners In Health
Partners of the Americas
Partnership for Child Health Care #+
Partnership for Supply Chain Management (PFSCM) ~
Pathfinder International
PCI-Media Impact (formerly Population Communication International)
Plan International USA
Population Council
Population Reference Bureau (PRB)
Population Services International (PSI)
Program for Appropriate Technology in Health (PATH)
Project C.U.R.E. (Commission on Urgent Relief and Equipment)
Project Concern International
Project HOPE (Health Opportunities for People Everywhere)
Project Medishare for Haiti
Public Health Institute (PHI)
RAND Corporation
Relief International
Research Triangle Institute (RTI International)
Samaritanâ€™s Purse
Save the Children
Search for Common Ground
Sesame Workshop
South Africa Partners
Synergos Institute
TechnoServe
TOSTAN
Touch Foundation
United States (U.S.) Pharmacopeial Convention
Wildlife Conservation Society
Winrock International
World Concern
World Education
World Hope International
World Learning for International Development (World Learning)
World Relief Corporation of National Association of Evangelicals (World Relief)
World Renew (formerly Christian Reformed World Relief Committee)
World Vision
World Wildlife Fund (WWF)
YMCA"""

In [13]:
ngos = string.split("\n")

In [14]:
ngos = pd.DataFrame(ngos, columns=["Name"])

In [15]:
streets = [gen_data.create_street() for _ in range(ngos.shape[0])]

In [16]:
ngos["street"] = streets

In [17]:
addresses = [gen_data.create_city_state_zip() for _ in range(ngos.shape[0])]

In [18]:
zipcodes = []
city = []
state = []

for adr in addresses:
    zipcodes.append(adr[0])
    city.append(adr[1])
    state.append(adr[2])

In [19]:
ngos['city'] = city
ngos['state'] = state
ngos['zipcode'] = zipcodes

In [20]:
ngos

,Name,street,city,state,zipcode
0,A Glimmer of Hope Foundation,9086 Kahlden Street,Mountain View,HI,96771
1,American Association for the Advancement of Sc...,1724 Pine Tree Circle,Helen,MD,20635
2,Academy for Educational Development (AED) #,9294 Poplar Woods Street,Morven,NC,28119
3,ACDI/VOCA,9163 Oren Avenue,Crystal Spring,PA,15536
4,Adventist Development and Relief Agency (ADRA),64 Talmage Drive,Barwick,GA,31720
...,...,...,...,...,...
130,World Relief Corporation of National Associati...,1579 Westminster Trail,South Royalton,VT,05068
131,World Renew (formerly Christian Reformed World...,8306 Hunters Avenue,Oak Ridge,NJ,07438
132,World Vision,2027 Creekside Trail,Chatham,VA,24531
133,World Wildlife Fund (WWF),3031 Thornvine Cove,Logan,UT,84322
134,YMCA,3356 Lennox Circle,East Spencer,NC,28039

In [21]:
ngos.to_csv("ngo_details.csv", index=False)

In [22]:
fake = Faker()
add = defaultdict(list)

In [23]:
def phn():
    n = '0000000000'
    while '9' in n[3:6] or n[3:6]=='000' or n[6]==n[7]==n[8]==n[9]:
        n = str(random.randint(10**9, 10**10-1))
    return n[:3] + n[3:6] + n[6:]

profile = fake.profile()
name = profile['name']
age = random.randint(10, 90)
blood_group = profile['blood_group']
a = real_random_address()
address = a['address1']+a['address2']+', '+a['city']+', '+a['state']+', '+a['postalCode']
phone = int(phn())
# profile.replace("\n", ",")
profile

{'job': 'Retail buyer',
 'company': 'Hammond-Baker',
 'ssn': '370-46-6507',
 'residence': '87774 Luis Light Apt. 055\nWest Kathleenville, RI 52187',
 'current_location': (Decimal('15.499586'), Decimal('-99.896899')),
 'blood_group': 'B+',
 'website': ['http://olson.com/', 'https://howard.info/'],
 'username': 'marvinbrown',
 'name': 'Cory Bell',
 'sex': 'M',
 'address': '25116 Eric Corners\nLake Deannabury, WY 97354',
 'mail': 'stacy11@gmail.com',
 'birthdate': date(1960, 8, 13)}

In [24]:
donor_list = []
for i in range(3000):
    donor = defaultdict()
    profile = fake.profile()
    donor_id = 'd'+f'{i:04}'
    name = profile['name']
    age = random.randint(21, 65)
    blood_group = profile['blood_group']
    address = profile['address'].replace("\n", ", ")
    phone = int(phn())
    donor["donor_id"] = donor_id
    donor["name"] = name
    donor["age"] = age
    donor["Blood_group"] = blood_group
    donor["Address"] = address
    donor["contact_number"] = phone
    donor_list.append(donor)

In [25]:
donor_db = pd.DataFrame(donor_list)
donor_db

,donor_id,name,age,Blood_group,Address,contact_number
0,d0000,Meghan Wood,22,O-,"2018 Christopher Street, East Nancy, UT 99935",7564817810
1,d0001,Gregory Miller,24,O-,"64666 Julie Rue, New Pamelaberg, CT 21401",9891351903
2,d0002,Andrew Ochoa,53,AB+,"87506 Bray Plaza Suite 852, Lindsayshire, GA 2...",5084130484
3,d0003,John Beck,54,AB-,"336 Young Mountain Apt. 809, East Brittany, MS...",6596406778
4,d0004,Mark Jones,22,B-,"91411 Hudson Walk Apt. 154, South Phillip, TN ...",1013047340
...,...,...,...,...,...,...
2995,d2995,Omar Hodge,28,AB+,"017 Rivera Isle Apt. 004, West Patrickview, MD...",9887339080
2996,d2996,Mary Martin,28,B+,"838 Rebecca Street Apt. 866, Port Dylanshire, ...",7594578823
2997,d2997,Thomas Stanley,58,A+,"53261 Kathryn Glen, Lake Timothy, IL 57478",1830740556
2998,d2998,Carolyn Anthony,63,O-,"Unit 9377 Box 0852, DPO AA 19448",3318320262
2999,d2999,Jason Bentley,57,A+,"50766 Chapman Drive Suite 665, South Lisa, NE ...",2014500797

In [26]:
inventory_list = []
bg = ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']
for i in range(0,1000):
    for b in bg:
        inventory = defaultdict()
        inventory['blood_bank_id'] = 'b'+f'{i:04}'
        inventory['blood_group'] = b
        inventory['units_available'] = random.randint(0, 100)
        inventory_list.append(inventory)
inventory_db = pd.DataFrame(inventory_list)
inventory_db

     blood_bank_id blood_group  units_available
0            b0000          A+               35
1            b0000          A-               65
2            b0000          B+               85
3            b0000          B-               46
4            b0000         AB+               93
...            ...         ...              ...
7995         b0999          B-               75
7996         b0999         AB+               22
7997         b0999         AB-               34
7998         b0999          O+                4
7999         b0999          O-               53

[8000 rows x 3 columns]

In [27]:
blood_bank_list = []
i = 0
while i <1000:
    bb = defaultdict()
    r = real_random_address()
    blood_bank_id = 'b'+f'{i:04}'
    if 'city' in r.keys() and 'postalCode' in r.keys() and 'address1' in r.keys() and 'address2' in r.keys() and 'state'  in r.keys():
        name = r['city']+' Blood Center '+f'{i:03}'
        address = r['address1']+r['address2']+', '+r['city']+', '+r['state']+', '+r['postalCode']
        phone = int(phn())
        i += 1
        bb['blood_bank_id'] = blood_bank_id
        bb['name'] = name
        bb['address'] = address
        bb['phone'] = phone
        blood_bank_list.append(bb)
blood_bank_db = pd.DataFrame(blood_bank_list)
blood_bank_db

,blood_bank_id,name,address,phone
0,b0000,Nashville Blood Center 000,"819 Beazer Lane, Nashville, TN, 37013",8063457366
1,b0001,Pueblo West Blood Center 001,"11 North Vineyard Drive, Pueblo West, CO, 81007",5463833980
2,b0002,Middlebury Blood Center 002,"161 Creek Road, Middlebury, VT, 05753",3055447064
3,b0003,Washington Blood Center 003,"1608 Gales Street Northeast, Washington, DC, 2...",5754616323
4,b0004,Arvada Blood Center 004,"8398 West 62nd Place, Arvada, CO, 80004",4118826484
...,...,...,...,...
995,b0995,Escondido Blood Center 995,"2335 Orchard View Lane, Escondido, CA, 92027",6076868936
996,b0996,Woodland Blood Center 996,"18687 County Road 97, Woodland, CA, 95695",3680471054
997,b0997,Panama City Blood Center 997,"269 Hugh Thomas Drive, Panama City, FL, 32404",4537152678
998,b0998,Glendale Blood Center 998,"5803 West Gelding Drive, Glendale, AZ, 85306",9326833260
999,b0999,Louisville Blood Center 999,"9403 Fairground Road, Louisville, KY, 40291",4817776368

In [28]:
ngo_id = ["ngo" + f'{i:04}' for i in range(1, ngos.shape[0]+1)]
hosp_id = ["hosp" + f'{i:04}'for i in range(1, hospital_details.shape[0]+1)]

In [29]:
ngos["ID"] = ngo_id
hospital_details["ID"] = hosp_id

/var/folders/01/3wk_9mn142d6ytnz_y_8kv3m0000gn/T/ipykernel_2447/2849639421.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospital_details["ID"] = hosp_id

In [30]:
ngos

,Name,street,city,state,zipcode,ID
0,A Glimmer of Hope Foundation,9086 Kahlden Street,Mountain View,HI,96771,ngo0001
1,American Association for the Advancement of Sc...,1724 Pine Tree Circle,Helen,MD,20635,ngo0002
2,Academy for Educational Development (AED) #,9294 Poplar Woods Street,Morven,NC,28119,ngo0003
3,ACDI/VOCA,9163 Oren Avenue,Crystal Spring,PA,15536,ngo0004
4,Adventist Development and Relief Agency (ADRA),64 Talmage Drive,Barwick,GA,31720,ngo0005
...,...,...,...,...,...,...
130,World Relief Corporation of National Associati...,1579 Westminster Trail,South Royalton,VT,05068,ngo0131
131,World Renew (formerly Christian Reformed World...,8306 Hunters Avenue,Oak Ridge,NJ,07438,ngo0132
132,World Vision,2027 Creekside Trail,Chatham,VA,24531,ngo0133
133,World Wildlife Fund (WWF),3031 Thornvine Cove,Logan,UT,84322,ngo0134
134,YMCA,3356 Lennox Circle,East Spencer,NC,28039,ngo0135

In [31]:
import numpy as np
ngo_id.append(np.nan)
hosp_id.append(np.nan)

In [32]:
ngo_id.pop()
hosp_id.pop()

nan

In [33]:
recipient_data = []
for i in range(3000):
    # r_id = "rc"+f"{i:04}"
    name = " ".join(gen_data.create_name())
    age = random.randint(0, 99)
    blood_group = random.choice(bg)
    prob = np.random.random()
    if i%2 == 0:
        loc_hosp = random.choice(hosp_id)
        loc_ngo = np.nan
    else:
        loc_hosp = np.nan
        loc_ngo = random.choice(ngo_id)
        
    phnum = gen_data.create_phone()
    recipient_data.append((name, age, blood_group, loc_ngo, loc_hosp, phnum))

In [34]:
random.shuffle(recipient_data)

In [35]:
recipient_db = pd.DataFrame(recipient_data, columns = ["Name", "Age", "BloodGroup", "loc_ngo", "loc_hosp", "phnum"])

In [36]:
recipient_db["ID"] = ["rc"+f"{i:04}" for i in range(3000)]

In [37]:
recipient_db

,Name,Age,BloodGroup,loc_ngo,loc_hosp,phnum,ID
0,Gilda Lancaster,26,B+,ngo0126,NaN,(505)386-5306,rc0000
1,Burt Garrison,30,A-,ngo0114,NaN,(850)654-8333,rc0001
2,Queen Teague,16,A+,NaN,hosp0035,(786)561-1206,rc0002
3,Dewey Villagomez,30,AB+,ngo0125,NaN,(925)419-4394,rc0003
4,Ellsworth Raymond,72,A-,ngo0073,NaN,(615)948-1222,rc0004
...,...,...,...,...,...,...,...
2995,Irvin Guerra,91,O+,ngo0080,NaN,(612)223-2817,rc2995
2996,Hilton Griffis,47,A-,ngo0055,NaN,(337)703-4207,rc2996
2997,Alma Brice,2,AB+,ngo0082,NaN,(802)433-8679,rc2997
2998,Tomasa Menendez,81,A-,ngo0014,NaN,(865)156-2500,rc2998
2999,Jovita Gant,43,O+,NaN,hosp0032,(440)333-4709,rc2999

In [38]:
loc_ids = blood_bank_db["blood_bank_id"].values
random.shuffle(loc_ids)
loc_ids

array(['b0082', 'b0720', 'b0297', 'b0426', 'b0577', 'b0649', 'b0511',
       'b0284', 'b0741', 'b0666', 'b0135', 'b0947', 'b0806', 'b0013',
       'b0115', 'b0781', 'b0538', 'b0660', 'b0117', 'b0930', 'b0676',
       'b0564', 'b0035', 'b0951', 'b0320', 'b0728', 'b0066', 'b0390',
       'b0169', 'b0575', 'b0554', 'b0793', 'b0019', 'b0777', 'b0826',
       'b0288', 'b0736', 'b0494', 'b0211', 'b0584', 'b0713', 'b0296',
       'b0383', 'b0193', 'b0277', 'b0614', 'b0934', 'b0780', 'b0976',
       'b0344', 'b0570', 'b0308', 'b0502', 'b0455', 'b0106', 'b0992',
       'b0939', 'b0121', 'b0258', 'b0662', 'b0752', 'b0174', 'b0586',
       'b0213', 'b0597', 'b0469', 'b0312', 'b0490', 'b0113', 'b0895',
       'b0534', 'b0607', 'b0030', 'b0807', 'b0341', 'b0922', 'b0481',
       'b0068', 'b0944', 'b0432', 'b0452', 'b0246', 'b0624', 'b0629',
       'b0583', 'b0587', 'b0924', 'b0229', 'b0855', 'b0792', 'b0317',
       'b0920', 'b0159', 'b0396', 'b0694', 'b0839', 'b0372', 'b0850',
       'b0160', 'b0263', 'b0640', 'b0215', 'b0685', 'b0001', 'b0556',
       'b0507', 'b0880', 'b0240', 'b0641', 'b0453', 'b0785', 'b0688',
       'b0170', 'b0997', 'b0540', 'b0173', 'b0598', 'b0023', 'b0089',
       'b0661', 'b0290', 'b0196', 'b0963', 'b0188', 'b0762', 'b0739',
       'b0767', 'b0285', 'b0303', 'b0322', 'b0681', 'b0433', 'b0239',
       'b0985', 'b0042', 'b0394', 'b0409', 'b0339', 'b0718', 'b0572',
       'b0367', 'b0127', 'b0989', 'b0892', 'b0913', 'b0450', 'b0495',
       'b0520', 'b0398', 'b0257', 'b0456', 'b0536', 'b0847', 'b0017',
       'b0953', 'b0693', 'b0362', 'b0599', 'b0253', 'b0595', 'b0647',
       'b0371', 'b0097', 'b0790', 'b0405', 'b0646', 'b0907', 'b0973',
       'b0871', 'b0219', 'b0172', 'b0111', 'b0986', 'b0180', 'b0775',
       'b0533', 'b0375', 'b0449', 'b0838', 'b0261', 'b0299', 'b0988',
       'b0756', 'b0194', 'b0161', 'b0486', 'b0962', 'b0392', 'b0047',
       'b0857', 'b0093', 'b0671', 'b0345', 'b0665', 'b0592', 'b0578',
       'b0137', 'b0965', 'b0731', 'b0179', 'b0359', 'b0594', 'b0182',
       'b0293', 'b0496', 'b0656', 'b0168', 'b0330', 'b0086', 'b0483',
       'b0428', 'b0413', 'b0906', 'b0015', 'b0373', 'b0353', 'b0897',
       'b0786', 'b0729', 'b0038', 'b0923', 'b0606', 'b0307', 'b0528',
       'b0136', 'b0823', 'b0002', 'b0415', 'b0260', 'b0768', 'b0796',
       'b0789', 'b0144', 'b0348', 'b0818', 'b0365', 'b0621', 'b0059',
       'b0888', 'b0783', 'b0295', 'b0313', 'b0910', 'b0251', 'b0143',
       'b0562', 'b0810', 'b0553', 'b0460', 'b0007', 'b0672', 'b0921',
       'b0531', 'b0358', 'b0687', 'b0369', 'b0217', 'b0557', 'b0927',
       'b0417', 'b0171', 'b0804', 'b0695', 'b0131', 'b0508', 'b0591',
       'b0447', 'b0912', 'b0087', 'b0400', 'b0374', 'b0294', 'b0057',
       'b0885', 'b0387', 'b0315', 'b0668', 'b0209', 'b0908', 'b0012',
       'b0799', 'b0896', 'b0266', 'b0523', 'b0037', 'b0280', 'b0406',
       'b0273', 'b0960', 'b0241', 'b0914', 'b0582', 'b0650', 'b0644',
       'b0929', 'b0448', 'b0712', 'b0062', 'b0630', 'b0043', 'b0770',
       'b0009', 'b0077', 'b0103', 'b0938', 'b0856', 'b0719', 'b0096',
       'b0094', 'b0811', 'b0329', 'b0974', 'b0028', 'b0310', 'b0259',
       'b0078', 'b0411', 'b0744', 'b0514', 'b0227', 'b0278', 'b0714',
       'b0869', 'b0036', 'b0648', 'b0025', 'b0134', 'b0205', 'b0316',
       'b0022', 'b0249', 'b0787', 'b0802', 'b0636', 'b0154', 'b0860',
       'b0440', 'b0569', 'b0221', 'b0242', 'b0222', 'b0431', 'b0175',
       'b0254', 'b0987', 'b0003', 'b0639', 'b0711', 'b0978', 'b0500',
       'b0670', 'b0231', 'b0945', 'b0761', 'b0158', 'b0610', 'b0377',
       'b0379', 'b0979', 'b0882', 'b0547', 'b0716', 'b0981', 'b0724',
       'b0325', 'b0579', 'b0772', 'b0074', 'b0351', 'b0048', 'b0588',
       'b0730', 'b0311', 'b0705', 'b0385', 'b0427', 'b0133', 'b0065',
       'b0281', 'b0822', 'b0101', 'b0363', 'b0819', 'b0555', 'b0163',
       'b0331', 'b0138', 'b0521', 'b0060', 'b0627', 'b0112', 'b0701',
       'b0018', 'b0162', 'b0737', 'b0975', 'b0815', 'b0243', 'b0232',
       'b0437', 'b0438', 'b0773', 'b0083', 'b0451', 'b0526', 'b0655',
       'b0890', 'b0551', 'b0543', 'b0549', 'b0778', 'b0130', 'b0140',
       'b0032', 'b0619', 'b0891', 'b0669', 'b0972', 'b0753', 'b0957',
       'b0407', 'b0107', 'b0464', 'b0401', 'b0971', 'b0940', 'b0499',
       'b0223', 'b0707', 'b0220', 'b0503', 'b0332', 'b0708', 'b0237',
       'b0208', 'b0265', 'b0628', 'b0616', 'b0380', 'b0506', 'b0029',
       'b0703', 'b0445', 'b0535', 'b0476', 'b0843', 'b0637', 'b0977',
       'b0434', 'b0020', 'b0132', 'b0058', 'b0967', 'b0446', 'b0808',
       'b0949', 'b0156', 'b0061', 'b0272', 'b0067', 'b0126', 'b0864',
       'b0625', 'b0109', 'b0442', 'b0917', 'b0763', 'b0904', 'b0995',
       'b0603', 'b0998', 'b0095', 'b0098', 'b0349', 'b0008', 'b0748',
       'b0382', 'b0026', 'b0742', 'b0682', 'b0488', 'b0849', 'b0835',
       'b0657', 'b0898', 'b0212', 'b0378', 'b0617', 'b0468', 'b0590',
       'b0548', 'b0279', 'b0825', 'b0482', 'b0044', 'b0675', 'b0461',
       'b0484', 'b0581', 'b0360', 'b0561', 'b0559', 'b0366', 'b0473',
       'b0638', 'b0846', 'b0943', 'b0568', 'b0384', 'b0812', 'b0800',
       'b0100', 'b0782', 'b0983', 'b0574', 'b0509', 'b0980', 'b0697',
       'b0014', 'b0252', 'b0544', 'b0368', 'b0518', 'b0894', 'b0887',
       'b0658', 'b0088', 'b0000', 'b0286', 'b0167', 'b0558', 'b0732',
       'b0324', 'b0306', 'b0204', 'b0370', 'b0760', 'b0961', 'b0238',
       'b0343', 'b0321', 'b0327', 'b0727', 'b0723', 'b0202', 'b0735',
       'b0524', 'b0301', 'b0875', 'b0292', 'b0264', 'b0040', 'b0633',
       'b0854', 'b0404', 'b0357', 'b0866', 'b0552', 'b0626', 'b0073',
       'b0593', 'b0157', 'b0852', 'b0342', 'b0050', 'b0634', 'b0970',
       'b0145', 'b0950', 'b0063', 'b0269', 'b0186', 'b0886', 'b0328',
       'b0151', 'b0704', 'b0120', 'b0611', 'b0527', 'b0319', 'b0439',
       'b0545', 'b0092', 'b0915', 'b0749', 'b0620', 'b0479', 'b0635',
       'b0335', 'b0139', 'b0618', 'b0021', 'b0844', 'b0828', 'b0652',
       'b0056', 'b0813', 'b0165', 'b0717', 'b0831', 'b0234', 'b0150',
       'b0108', 'b0841', 'b0805', 'b0052', 'b0522', 'b0423', 'b0463',
       'b0104', 'b0148', 'b0333', 'b0435', 'b0567', 'b0525', 'b0010',
       'b0386', 'b0721', 'b0041', 'b0465', 'b0580', 'b0677', 'b0765',
       'b0820', 'b0399', 'b0338', 'b0794', 'b0408', 'b0541', 'b0388',
       'b0959', 'b0956', 'b0305', 'b0489', 'b0166', 'b0512', 'b0034',
       'b0984', 'b0505', 'b0833', 'b0471', 'b0391', 'b0529', 'b0604',
       'b0991', 'b0994', 'b0422', 'b0354', 'b0474', 'b0216', 'b0867',
       'b0283', 'b0270', 'b0510', 'b0491', 'b0250', 'b0421', 'b0903',
       'b0623', 'b0191', 'b0740', 'b0645', 'b0429', 'b0255', 'b0403',
       'b0081', 'b0122', 'b0651', 'b0364', 'b0758', 'b0563', 'b0181',
       'b0472', 'b0397', 'b0389', 'b0865', 'b0381', 'b0102', 'b0080',
       'b0663', 'b0881', 'b0075', 'b0653', 'b0691', 'b0267', 'b0596',
       'b0051', 'b0788', 'b0605', 'b0993', 'b0909', 'b0164', 'b0964',
       'b0497', 'b0424', 'b0600', 'b0872', 'b0419', 'b0954', 'b0706',
       'b0899', 'b0699', 'b0874', 'b0039', 'b0966', 'b0905', 'b0513',
       'b0271', 'b0515', 'b0928', 'b0941', 'b0937', 'b0504', 'b0868',
       'b0309', 'b0091', 'b0932', 'b0276', 'b0642', 'b0784', 'b0889',
       'b0323', 'b0674', 'b0090', 'b0519', 'b0845', 'b0458', 'b0848',
       'b0454', 'b0982', 'b0926', 'b0492', 'b0355', 'b0722', 'b0797',
       'b0948', 'b0999', 'b0475', 'b0004', 'b0054', 'b0725', 'b0084',
       'b0314', 'b0236', 'b0493', 'b0900', 'b0771', 'b0743', 'b0233',
       'b0457', 'b0142', 'b0070', 'b0542', 'b0287', 'b0824', 'b0779',
       'b0576', 'b0027', 'b0747', 'b0883', 'b0125', 'b0738', 'b0946',
       'b0031', 'b0268', 'b0190', 'b0478', 'b0147', 'b0690', 'b0918',
       'b0990', 'b0861', 'b0395', 'b0601', 'b0769', 'b0952', 'b0033',
       'b0902', 'b0079', 'b0467', 'b0480', 'b0801', 'b0053', 'b0289',
       'b0809', 'b0244', 'b0105', 'b0836', 'b0696', 'b0356', 'b0757',
       'b0870', 'b0336', 'b0679', 'b0198', 'b0302', 'b0340', 'b0710',
       'b0901', 'b0755', 'b0347', 'b0430', 'b0612', 'b0443', 'b0466',
       'b0795', 'b0573', 'b0733', 'b0821', 'b0197', 'b0546', 'b0141',
       'b0187', 'b0210', 'b0517', 'b0177', 'b0071', 'b0487', 'b0124',
       'b0199', 'b0218', 'b0291', 'b0842', 'b0832', 'b0878', 'b0416',
       'b0803', 'b0275', 'b0183', 'b0477', 'b0192', 'b0893', 'b0337',
       'b0916', 'b0352', 'b0863', 'b0393', 'b0045', 'b0350', 'b0613',
       'b0715', 'b0129', 'b0608', 'b0560', 'b0114', 'b0176', 'b0247',
       'b0840', 'b0539', 'b0664', 'b0228', 'b0110', 'b0274', 'b0011',
       'b0919', 'b0673', 'b0879', 'b0877', 'b0224', 'b0798', 'b0501',
       'b0532', 'b0698', 'b0226', 'b0470', 'b0412', 'b0814', 'b0585',
       'b0958', 'b0817', 'b0936', 'b0099', 'b0609', 'b0709', 'b0318',
       'b0418', 'b0684', 'b0816', 'b0942', 'b0049', 'b0005', 'b0968',
       'b0632', 'b0700', 'b0751', 'b0184', 'b0153', 'b0410', 'b0766',
       'b0459', 'b0745', 'b0298', 'b0589', 'b0346', 'b0571', 'b0146',
       'b0072', 'b0615', 'b0402', 'b0566', 'b0214', 'b0189', 'b0678',
       'b0262', 'b0746', 'b0248', 'b0876', 'b0550', 'b0680', 'b0774',
       'b0498', 'b0873', 'b0155', 'b0245', 'b0119', 'b0282', 'b0851',
       'b0602', 'b0654', 'b0420', 'b0686', 'b0462', 'b0436', 'b0116',
       'b0046', 'b0128', 'b0256', 'b0444', 'b0862', 'b0064', 'b0955',
       'b0692', 'b0537', 'b0207', 'b0006', 'b0667', 'b0754', 'b0516',
       'b0911', 'b0827', 'b0024', 'b0734', 'b0185', 'b0776', 'b0996',
       'b0230', 'b0764', 'b0884', 'b0076', 'b0149', 'b0643', 'b0069',
       'b0683', 'b0689', 'b0830', 'b0361', 'b0326', 'b0759', 'b0969',
       'b0631', 'b0414', 'b0300', 'b0195', 'b0750', 'b0925', 'b0791',
       'b0201', 'b0225', 'b0441', 'b0200', 'b0085', 'b0203', 'b0425',
       'b0235', 'b0530', 'b0853', 'b0206', 'b0485', 'b0118', 'b0334',
       'b0178', 'b0829', 'b0152', 'b0304', 'b0859', 'b0376', 'b0726',
       'b0933', 'b0834', 'b0622', 'b0565', 'b0055', 'b0123', 'b0935',
       'b0659', 'b0016', 'b0702', 'b0931', 'b0837', 'b0858'], dtype=object)

In [40]:
request_data = []
for i in range(3000):
    # rq_id = "rq"+ f"{i:04}"
    blood_group = random.choice(bg)
    rc_ids = recipient_db[recipient_db["BloodGroup"] == blood_group]["ID"].values.tolist()
    patient_id = random.choice(rc_ids)
    d_ids = donor_db[donor_db["Blood_group"] == blood_group]["donor_id"].values.tolist()
    loc_obtained = random.choice(loc_ids)
    probability = np.random.random()
    
    if probability <= 0.7:
        donor_id_f = random.choice(d_ids)
        completed = True
        waitlist = 0
    else:
        donor_id_f = np.nan
        completed = False
        waitlist = random.randint(1, 10)
        
    request_data.append((patient_id, donor_id_f, blood_group, loc_obtained, waitlist, completed))

In [41]:
random.shuffle(request_data)

In [42]:
request_db = pd.DataFrame(request_data, columns=["PatientID", "DonorID", "BloodGroup", "Loc_Obtained", "Waitlist", "Completed"])

In [43]:
request_db["ID"] = ["rq"+ f"{i:04}" for i in range(3000)]

In [44]:
donor_db.to_csv("donor.csv", index=False)
inventory_db.to_csv("inventory.csv", index=False)
blood_bank_db.to_csv("blood_bank.csv", index=False)
recipient_db.to_csv("recipient.csv", index=False)
request_db.to_csv("request.csv", index=False)